<?xml version="1.0"?>
<Installer>
    <Name>SQLiteStudio</Name>
    <Version>%SQLITESTUDIO_VERSION%</Version>
    <Title>SQLiteStudio Setup</Title>
    <Publisher>SalSoft</Publisher>
    <ProductUrl>http://sqlitestudio.pl</ProductUrl>
    <InstallerWindowIcon>sqlitestudio</InstallerWindowIcon>
    <InstallerApplicationIcon>sqlitestudio</InstallerApplicationIcon>
    <Logo>logo.png</Logo>
    <Background>bg.png</Background>
    <RunProgram>@TargetDir@/%FINAL_EXECUTABLE%</RunProgram>
    <RunProgramArguments>
    </RunProgramArguments>
    <RunProgramDescription>Run SQLiteStudio</RunProgramDescription>
    <StartMenuDir>SQLiteStudio</StartMenuDir>
    <MaintenanceToolName>UpdateSQLiteStudio</MaintenanceToolName>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <WizardStyle>%WIZARD_STYLE%</WizardStyle>
    <TargetDir>%TARGET_DIR%</TargetDir>
	<ControlScript>controller.qs</ControlScript>
    <RemoteRepositories>
        <Repository>
            <Url>http://sqlitestudio.pl/update-repo/%UPDATE_ARCH%/</Url>
        </Repository>
    </RemoteRepositories>
</Installer>