<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>sqlitestudio.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>SalSoft, %YEAR%</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>%VERSION%</string>
	<key>CFBundleExecutable</key>
	<string>SQLiteStudio</string>
	<key>CFBundleIdentifier</key>
	<string>pl.com.salsoft.SQLiteStudio</string>
</dict>
</plist>
