# env:
    # SQLITESTUDIO_BRANCH: 3.2
    # QT_VERSION: '5.14.2'
    # SQLITE_VERSION: '3310100'
    # SQLITE_RELEASE_YEAR: '2020'
    # TCL_VERSION: '8.6'
    # PORTABLE_DIR: ${{ github.workspace }}/output/portable/SQLiteStudio

# name: 3.2 branch Linux release build

# on:
    # push:
        # branches:
            # - 3.2

# jobs:
    # build:
        # runs-on: ubuntu-18.04

        # steps:
            # - name: Cache Qt
              # id: cache-qt
              # uses: actions/cache@v1
              # with:
                # path: ${{ github.workspace }}/../Qt
                # key: ${{ runner.os }}-Qt-Linux-Cache
                
            # - name: Install Qt
              # uses: jurplel/install-qt-action@v2
              # with:
                # cached: ${{ steps.cache-qt.outputs.cache-hit }}
                # version: ${{ env.QT_VERSION }}
                # host: 'linux'
                # dir: '${{ github.workspace }}/..'
                # modules: 'qtscript'
                
            # - name: Clone repo
              # uses: actions/checkout@v2
              # with:
                # ref: ${{ env.SQLITESTUDIO_BRANCH }}

            # - name: Install SQLite3
              # run: |
                # wget http://sqlite.org/$SQLITE_RELEASE_YEAR/sqlite-autoconf-$SQLITE_VERSION.tar.gz
                # tar xzf sqlite-autoconf-$SQLITE_VERSION.tar.gz
                # cd sqlite-autoconf-$SQLITE_VERSION
                # ./configure --enable-fts5 --enable-json1 --enable-session
                # make
                # sudo make install
                # sqlite3 --version
            
            # - name: Install Tcl
              # run: sudo apt-get install -qq libtcl$TCL_VERSION tcl$TCL_VERSION-dev
              
            # - name: Install other tools/dependencies
              # run: |
                # sudo apt install libreadline-dev libncurses5-dev
                # echo "::add-path::${{ github.workspace }}/../Qt/${{ env.QT_VERSION }}/gcc_64/bin"
 
            # - name: Prepare output dir
              # run: mkdir output output/build output/build/Plugins
            
            # - name: Compile SQLiteStudio3
              # working-directory: output/build
              # run: |
                # qmake CONFIG+=portable ../../SQLiteStudio3
                # make -j 2
            
            # - name: Compile Plugins
              # working-directory: output/build/Plugins
              # run: |
                # qmake CONFIG+=portable ../../../Plugins
                # make -j 2
              
            # - name: Prepare portable dir
              # working-directory: output
              # run: |
                # mkdir portable
                # cp -R SQLiteStudio portable/

            # - name: Copy SQLite3 to portable dir
              # working-directory: ${{ env.PORTABLE_DIR }}
              # run: |
                # sqlite3_lib=/usr/local/lib/libsqlite3.so.0.8.6
                # sqlite3_lib_target=`ldd lib/libcoreSQLiteStudio.so | grep libsqlite | awk '{print $3;}'`
                # cp $sqlite3_lib lib/`basename $sqlite3_lib_target`

            # - name: Copy Qt to portable dir
              # working-directory: ${{ env.PORTABLE_DIR }}
              # run: |
                # cp -P ${{ env.Qt5_Dir }}/lib/libQt5Core.so* lib/
                # cp -P ${{ env.Qt5_Dir }}/lib/libQt5Concurrent.so* lib/
                # cp -P ${{ env.Qt5_Dir }}/lib/libQt5Gui.so* lib/
                # cp -P ${{ env.Qt5_Dir }}/lib/libQt5Network.so* lib/
                # cp -P ${{ env.Qt5_Dir }}/lib/libQt5PrintSupport.so* lib/
                # cp -P ${{ env.Qt5_Dir }}/lib/libQt5Script.so* lib/
                # cp -P ${{ env.Qt5_Dir }}/lib/libQt5Widgets.so* lib/
                # cp -P ${{ env.Qt5_Dir }}/lib/libQt5Xml.so* lib/
                # cp -P ${{ env.Qt5_Dir }}/lib/libQt5Svg.so* lib/
                # cp -P ${{ env.Qt5_Dir }}/lib/libQt5XcbQpa.so* lib/
                # cp -P ${{ env.Qt5_Dir }}/lib/libicui18n.so* lib/
                # cp -P ${{ env.Qt5_Dir }}/lib/libicuuc.so* lib/
                # cp -P ${{ env.Qt5_Dir }}/lib/libicudata.so* lib/

            # - name: Copy Qt plugins to portable dir
              # working-directory: ${{ env.PORTABLE_DIR }}
              # run: |
                # mkdir platforms imageformats iconengines printsupport platformthemes
                # cp -P ${{ env.Qt5_Dir }}/plugins/platforms/libqxcb.so platforms/libqxcb.so
                # cp -P ${{ env.Qt5_Dir }}/plugins/imageformats/libqgif.so imageformats/libqgif.so
                # cp -P ${{ env.Qt5_Dir }}/plugins/imageformats/libqicns.so imageformats/libqicns.so
                # cp -P ${{ env.Qt5_Dir }}/plugins/imageformats/libqico.so imageformats/libqico.so
                # cp -P ${{ env.Qt5_Dir }}/plugins/imageformats/libqjpeg.so imageformats/libqjpeg.so
                # cp -P ${{ env.Qt5_Dir }}/plugins/imageformats/libqsvg.so imageformats/libqsvg.so
                # cp -P ${{ env.Qt5_Dir }}/plugins/imageformats/libqtga.so imageformats/libqtga.so
                # cp -P ${{ env.Qt5_Dir }}/plugins/imageformats/libqtiff.so imageformats/libqtiff.so
                # cp -P ${{ env.Qt5_Dir }}/plugins/iconengines/libqsvgicon.so iconengines/libqsvgicon.so
                # cp -P ${{ env.Qt5_Dir }}/plugins/printsupport/libcupsprintersupport.so printsupport/libcupsprintersupport.so
                # cp -P ${{ env.Qt5_Dir }}/plugins/platformthemes/libqgtk3.so platformthemes/libqgtk3.so

            # - name: Fix dependency paths
              # working-directory: ${{ env.PORTABLE_DIR }}
              # run: |
                # chrpath -k -r \$ORIGIN/../lib platforms/*.so imageformats/*.so iconengines/*.so printsupport/*.so platformthemes/*.so 2>&1 >/dev/null
                # chrpath -k -r \$ORIGIN/lib sqlitestudio 2>&1 >/dev/null
                # chrpath -k -r \$ORIGIN/lib sqlitestudiocli 2>&1 >/dev/null
                # chrpath -l platforms/*.so imageformats/*.so iconengines/*.so printsupport/*.so platformthemes/*.so
                # chrpath -l sqlitestudio
                # chrpath -l sqlitestudiocli

            # - name: Determine SQLiteStudio version
              # working-directory: ${{ env.PORTABLE_DIR }}
              # run: echo ::set-env name=SQLITESTUDIO_VERSION::$(./sqlitestudiocli --version | cut -f 2 -d ' ')

            # - name: Upload package artifact
              # uses: actions/upload-artifact@v1
              # with:
                # name: sqlitestudio-${{ env.SQLITESTUDIO_VERSION }}
                # path: output/portable
