env:
    PYTHON_VERSION: '3.9'
    QT_VERSION: '6.8.3'
    TCL_VERSION: '8.6'

name: Update messages

on:
    workflow_dispatch:
        inputs:
    schedule:
        - cron: '30 5 * * *' # run at 5:30 AM UTC every day

jobs:
    build:
        runs-on: ubuntu-22.04

        steps:
            - name: Qt installation dir
              id: qt-installation-dir
              run: echo "DIR=$(readlink -f ${{ github.workspace }}/..)" >> $GITHUB_OUTPUT
              
            - name: Install Qt
              uses: jurplel/install-qt-action@v4
              with:
                cache: true
                version: ${{ matrix.QT_VERSION }}
                host: 'linux'
                dir: '${{ steps.qt-installation-dir.DIR }}'
                py7zrversion: '==0.20.*'
                extra: '--external 7z'

            - name: Clone repo
              uses: actions/checkout@v3
              with:
                ref: ${{ env.GITHUB_REF }}

            - name: Update translations
              run: |
                set -euo pipefail
                echo "Using lupdate: $(which lupdate) ($(lupdate -version))"

                dirs=()

                for p in coreSQLiteStudio guiSQLiteStudio sqlitestudio sqlitestudiocli
                do
                    dirs+=("SQLiteStudio3/$p")
                done

                for d in Plugins/*
                do
                    [ -d "$d" ] || continue
                    dirs+=("$d")
                done

                for d in "${dirs[@]}"
                do
                    lupdate "$d" -ts "$d"/translations/*.ts
                done

            - name: Listing Git status
              run: |
                git status
                echo "==========================================================================="
                git diff

            - name: Committing changes
              run: |
                git config user.name github-actions
                git config user.email github-actions@github.com
                git add .
                git diff-index --quiet HEAD || git commit -m "Automated update of translation files."
                git push
