env:
    SQLITE_VERSION: '3510200'
    PORTABLE_DIR: output/portable/SQLiteStudio
    INSTALLBUILDER_DIR: ../ib
    INSTALLBUILDER_URL: https://releases.installbuilder.com/installbuilder/installbuilder-enterprise-26.2.0-windows-x64-installer.exe
    BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

name: Windows release build

on:
    workflow_dispatch:
        inputs:
          CODE_SIGN:
            description: 'Sign artifacts with SignPath'
            required: true
            type: boolean
            default: true
          use_ccache:
            description: 'Use ccache (for workflow debugging only!)'
            required: false
            type: boolean
          DEBUG:
            description: 'Enable workflow debug messages'
            required: false
            type: boolean
            default: false
          debug_ssh:
            description: "Open SSH tunnel at the end"
            type: boolean
            default: false
          debug_on_failure:
            description: "Open SSH tunnel if job fails"
            type: boolean
            default: false
    schedule:
        - cron: '0 2 * * 1' # run at 2 AM UTC every Monday

jobs:
    build:
        strategy:
            matrix:
                include:
                    - OS: windows-2022
                      MSYSTEM: CLANG64
                      CCACHE_KEY: win64-release
                      SQLITE_ARCH: 'x64'
                      OUTPUT_FILE_ARCH: 'x64'
                    - OS: windows-11-arm
                      MSYSTEM: CLANGARM64
                      CCACHE_KEY: winarm64-release
                      SQLITE_ARCH: 'arm64'
                      OUTPUT_FILE_ARCH: 'arm64'

        runs-on: ${{ matrix.OS }}

        steps:
            - name: "[Prerequisites] Install MSYS2"
              uses: msys2/setup-msys2@v2
              with: 
                update: true
                msystem: ${{ matrix.MSYSTEM }}
                install: unzip
                pacboy: >-
                  cc-libs:p
                  qt6-base:p
                  qt6-declarative:p
                  qt6-imageformats:p
                  qt6-svg:p
                  wineditline:p
                  zlib:p
                  7zip:p
                  cc:p
                  ccache:p
                  curl-winssl:p
                  make:p
                  ntldd:p
                  pkgconf:p
                  python:p
                  qt6-tools:p
                  tcl:p
                  cmake:p
                  ninja:p
                  tools:p
                  icu:p

            - name: "[Prerequisites] Clone GH scripts"
              uses: actions/checkout@v5
              with:
                repository: pawelsalawa/gh-action-scripts
                ref: main
                path: gh-scripts

            - name: "[Prerequisites] Setup GH scripts path"
              shell: msys2 {0}
              run: |
                mv gh-scripts ..
                cd ..
                echo "GH_SCRIPTS=$(pwd)/gh-scripts/scripts" >> $GITHUB_ENV
                echo "DEBUG=${{ inputs.DEBUG }}" >> $GITHUB_ENV

            - name: "[Prerequisites] Clone repo"
              uses: actions/checkout@v5
              with:
                ref: ${{ env.BRANCH_NAME }}

            - name: "[Prerequisites] Prepare ccache"
              if: inputs.use_ccache || false
              uses: hendrikmuhs/ccache-action@v1.2
              with:
                key: ${{ matrix.CCACHE_KEY }}
                max-size: "24M"

            - name: "[Prerequisites] Configure ccache (or not ccache)"
              shell: msys2 {0}
              run: |
                if [ ${{ inputs.use_ccache || false }} = false ]; then
                    echo GCC_COMMAND="$(which clang.exe)"
                    echo GXX_COMMAND="$(which clang++.exe)"
                else
                    echo GCC_COMMAND="$CCACHE_COMMAND clang.exe"
                    echo GXX_COMMAND="$CCACHE_COMMAND clang++.exe"
                fi >> $GITHUB_ENV

            - name: "[Prerequisites] Install SQLite3"
              shell: msys2 {0}
              run: |
                SQLITE_DOT_VERSION=$($GH_SCRIPTS/convert_int_ver.sh $SQLITE_VERSION)
                echo "SQLITE_DOT_VERSION=$SQLITE_DOT_VERSION" >> $GITHUB_ENV

                cd ..
                SQLITE3_ZIP=sqlite3-windows-${{ matrix.SQLITE_ARCH }}-$SQLITE_VERSION.zip
                curl -L https://github.com/pawelsalawa/sqlite3-sqls/releases/download/v$SQLITE_DOT_VERSION/$SQLITE3_ZIP --output $SQLITE3_ZIP
                
                unzip $SQLITE3_ZIP sqlite3.dll sqlite3.h sqlite3ext.h -d sqlite
                
                cd sqlite
                gendef sqlite3.dll
                dlltool -d sqlite3.def -l libsqlite3.dll.a
                pwd
                ls -l

            - name: "[Prerequisites] Compile additional SQLite3 extensions"
              shell: msys2 {0}
              run: |
                cd ..
                mkdir ext
                curl -L https://github.com/pawelsalawa/sqlite3-sqls/releases/download/v$SQLITE_DOT_VERSION/sqlite3-extensions-src-$SQLITE_VERSION.zip --output sqlite3-extensions-src-$SQLITE_VERSION.zip
                
                mkdir ext-src
                unzip sqlite3-extensions-src-$SQLITE_VERSION.zip -d ext-src
                cd ext-src
                FLAGS="-shared -O2 -I../sqlite -L../sqlite -lsqlite3"
                set -x
                for f in compress sqlar; do
                    $GCC_COMMAND misc/$f.c -Imisc $FLAGS -lz -o ../ext/$f.dll
                done
                
                for f in csv decimal eval ieee754 percentile rot13 series uint uuid zorder; do
                    $GCC_COMMAND misc/$f.c -Imisc $FLAGS -o ../ext/$f.dll
                done

                for f in icu; do
                    $GCC_COMMAND icu/$f.c `pkg-config --libs --cflags icu-uc icu-io` $FLAGS -o ../ext/$f.dll
                done

                set +x
                ls -l ../ext/

            - name: "[Prerequisites] Prepare output dir"
              shell: msys2 {0}
              run: mkdir output output/build output/build-plugins

            - name: "[Building] Compile SQLiteStudio3"
              working-directory: output/build
              shell: msys2 {0}
              run: |
                set -x
                cmake ../../SQLiteStudio3/ -G Ninja \
                    -DCMAKE_BUILD_TYPE=Release \
                    -DCMAKE_INSTALL_PREFIX=../SQLiteStudio \
                    -DWITH_PORTABLE=1 \
                    -DWITH_UPDATER=1 \
                    -DBUILD_TESTING=0 \
                    -DCUSTOM_SQLITE3=$GITHUB_WORKSPACE/../sqlite
                cmake --build . --verbose
                cmake --install . --verbose

            - name: "[Building] Compile Plugins"
              working-directory: output/build-plugins
              shell: msys2 {0}
              run: |
                set -x
                cmake ../../Plugins/ -G Ninja \
                    -DCMAKE_BUILD_TYPE=Release \
                    -DCMAKE_INSTALL_PREFIX=../SQLiteStudio \
                    -DWITH_PORTABLE=1 \
                    -DWITH_DYNAMIC_PYTHON=1 \
                    -DWITH_ALL_PLUGINS=1
                cmake --build . --verbose
                cmake --install . --verbose

            - name: "[Assembling] Copy SQLite extensions to output dir"
              shell: msys2 {0}
              run: |
                cp -R ../ext output/SQLiteStudio/

            - name: "[Assembling] Prepare portable dir"
              shell: msys2 {0}
              working-directory: output
              run: |
                mkdir portable
                cp -R SQLiteStudio portable/

            - name: "[Assembling] Clean-up portable dir"
              shell: msys2 {0}
              run: |
                cd ${{ env.PORTABLE_DIR }}
                rm -rf lib # it contains only *.a files
                rm -f *.a
                rm -f plugins/*.a
                rm -f styles/*.a
                echo "ABSOLUTE_PORTABLE_DIR=`pwd`" >> $GITHUB_ENV

            - name: "[Assembling] Prepare portable distro (Qt)"
              shell: msys2 {0}
              run: |
                cd ${ABSOLUTE_PORTABLE_DIR}

                ${MINGW_PREFIX}/bin/windeployqt SQLiteStudio.exe \
                  --release \
                  --no-translations \
                  --no-system-d3d-compiler \
                  -printsupport -xml -qml

                rm Qt6Quick*.dll Qt6QmlMeta.dll Qt6QmlModels.dll Qt6QmlWorkerScript.dll
                rm tls/qcertonlybackend.dll
                rm -r qml qmltooling generic networkinformation

            - name: "[Assembling] Prepare portable distro (Deps)"
              shell: msys2 {0}
              run: |
                set -x
                set -e
                set -o pipefail

                cd ../sqlite
                cp *.dll "$ABSOLUTE_PORTABLE_DIR"

                cd ${ABSOLUTE_PORTABLE_DIR}

                # Copy dependencies of sqlitestudio.exe
                ntldd -R sqlitestudio.exe | \
                 sed 's/.*=> \(.*\) (0x.*/\1/' | \
                 sed 's/\\/\//g' | grep ${MINGW_PREFIX} | \
                 xargs -I {} cygpath -u {} | \
                 xargs -I {} cp -u {} .

                # Copy dependencies of sqlitestudiocli.exe
                ntldd sqlitestudiocli.exe | \
                 sed 's/.*=> \(.*\) (0x.*/\1/' | \
                 sed 's/\\/\//g' | grep ${MINGW_PREFIX} | \
                 xargs -I {} cygpath -u {} | \
                 xargs -I {} cp -u {} .

                # Copy dependencies of plugins
                ntldd -R plugins/*.dll | \
                  sed -n 's/.*=> \(.*\) (0x.*/\1/p' | \
                  tr '\\' '/' | \
                  awk -v pfx="${MINGW_PREFIX}" 'index($0, pfx)' | \
                  xargs -r -I {} cygpath -u {} | \
                  xargs -r -I {} cp -u {} .

                # Copy dependencies of extensions
                ntldd -R ext/*.dll | \
                  sed -n 's/.*=> \(.*\) (0x.*/\1/p' | \
                  tr '\\' '/' | \
                  awk -v pfx="${MINGW_PREFIX}" 'index($0, pfx)' | \
                  xargs -r -I {} cygpath -u {} | \
                  xargs -r -I {} cp -u {} .

            - name: "[Assembling] Prepare portable distro (Resources)"
              shell: msys2 {0}
              run: |
                cp SQLiteStudio3/guiSQLiteStudio/img/sqlitestudio.ico "$ABSOLUTE_PORTABLE_DIR"/appicon.ico
                cp SQLiteStudio3/guiSQLiteStudio/img/sqlitestudio.svg "${{ env.PORTABLE_DIR }}"/appicon.svg

            - name: "[Assembling] Determine SQLiteStudio version"
              shell: msys2 {0}
              run: |
                set -x
                cd $ABSOLUTE_PORTABLE_DIR
                ./sqlitestudiocli.exe --version
                SQLITESTUDIO_VERSION=$(./sqlitestudiocli.exe --version | cut -f 2 -d ' ')
                [ -n "$SQLITESTUDIO_VERSION" ] || exit 1
                echo "SQLITESTUDIO_VERSION=$SQLITESTUDIO_VERSION" >> $GITHUB_ENV
                echo "PACKAGE_VERSION=${SQLITESTUDIO_VERSION}-windows-${{ matrix.OUTPUT_FILE_ARCH }}" >> $GITHUB_ENV
                
            - name: "[Assembling] Assemble portable package"
              shell: msys2 {0}
              run: |
                cd $ABSOLUTE_PORTABLE_DIR/..
                7z a -r sqlitestudio-$PACKAGE_VERSION.zip SQLiteStudio
                ls -l

            - name: "[Assembling] Install the InstalBuilder"
              shell: msys2 {0}
              env:
                IB_LICENSE: ${{ secrets.INSTALLER_LICENSE }}
              run: |
                curl -L ${{ env.INSTALLBUILDER_URL }} --output ib.exe
                ./ib.exe --mode unattended --prefix ${{ env.INSTALLBUILDER_DIR }}
                ${{ env.INSTALLBUILDER_DIR }}/bin/builder-cli.exe --version
                echo "$IB_LICENSE" > lic.xml
                echo "INSTALLER_SRC_PREFIX=$(pwd)" >> $GITHUB_ENV
                echo "INSTALLER_BIN_PREFIX=$ABSOLUTE_PORTABLE_DIR" >> $GITHUB_ENV

            - name: "[Assembling] Prepare artifact for uploading without signing"
              if: ${{ !inputs.CODE_SIGN }}
              shell: msys2 {0}
              run: |
                set -x
                mkdir unsigned
                cp output/portable/sqlitestudio-${{ env.PACKAGE_VERSION }}.zip \
                    ../SQLiteStudio-${{ env.PACKAGE_VERSION }}-installer.exe \
                    unsigned/

                cd unsigned
                echo "SIGNED_DIR=$(pwd)" >> $GITHUB_ENV

            - name: "[Code Signing] Prepare for code signing"
              if: ${{ inputs.CODE_SIGN }}
              shell: msys2 {0}
              run: |
                set -x
                mkdir signing signing/signed
                echo "SIGNED_DIR=signing/signed" >> $GITHUB_ENV

            - name: "[Code Signing] Prepare portable artifact for code signing"
              if: ${{ inputs.CODE_SIGN }}
              shell: msys2 {0}
              run: |
                set -x
                cp output/portable/sqlitestudio-${{ env.PACKAGE_VERSION }}.zip signing/

            - name: "[Code Signing] Upload unsigned portable artifact"
              if: ${{ inputs.CODE_SIGN }}
              id: upload-unsigned-artifact-portable
              uses: actions/upload-artifact@v4
              with:
                name: unsigned-sqlitestudio-portable.zip
                path: signing/*.zip

            - name: "[Code Signing] Sign portable artifact"
              if: ${{ inputs.CODE_SIGN }}
              uses: signpath/github-action-submit-signing-request@v2
              with:
                api-token: '${{ secrets.SIGNPATH_API_TOKEN }}'
                organization-id: '78b5c545-92b8-4428-a8f9-31676f9553ba'
                project-slug: 'sqlitestudio'
                signing-policy-slug: 'test-signing'
                github-artifact-id: '${{ steps.upload-unsigned-artifact-portable.outputs.artifact-id }}'
                github-token: '${{ secrets.SIGNPATH_GITHUB_TOKEN }}'
                wait-for-completion: true
                output-artifact-directory: '${{ env.SIGNED_DIR }}'

            - name: "[Code Signing] Unzip signed portable files to use for the installer"
              if: ${{ inputs.CODE_SIGN }}
              shell: msys2 {0}
              working-directory: ${{ env.SIGNED_DIR }}
              run: |
                set -x
                ls -l
                7z x sqlitestudio-${{ env.PACKAGE_VERSION }}.zip
                ls -l
                echo "INSTALLER_BIN_PREFIX=$(pwd)/SQLiteStudio" >> $GITHUB_ENV

            - name: "[Assembling] Create installer package"
              shell: msys2 {0}
              run: |
                ${{ env.INSTALLBUILDER_DIR }}/bin/builder-cli.exe build SQLiteStudio-installer.xml \
                    --license lic.xml \
                    --setvars project.outputDirectory=$(pwd) \
                    --setvars project.version=$SQLITESTUDIO_VERSION
                ls -l

            - name: "[Assembling] Name fix for arm64"
              if: ${{ matrix.OUTPUT_FILE_ARCH == 'arm64' }}
              shell: msys2 {0}
              run: |
                mv SQLiteStudio-${{ env.SQLITESTUDIO_VERSION }}-windows-x64-installer.exe SQLiteStudio-${{ env.PACKAGE_VERSION }}-installer.exe

            - name: "[Code Signing] Prepare installer artifact for code signing"
              if: ${{ inputs.CODE_SIGN }}
              shell: msys2 {0}
              run: |
                set -x
                cp SQLiteStudio-${{ env.PACKAGE_VERSION }}-installer.exe signing/

            - name: "[Code Signing] Upload unsigned installer artifact"
              if: ${{ inputs.CODE_SIGN }}
              id: upload-unsigned-artifact-installer
              uses: actions/upload-artifact@v4
              with:
                name: unsigned-sqlitestudio-installer.zip
                path: signing/*.exe

            - name: "[Code Signing] Sign installer artifact"
              if: ${{ inputs.CODE_SIGN }}
              uses: signpath/github-action-submit-signing-request@v2
              with:
                api-token: '${{ secrets.SIGNPATH_API_TOKEN }}'
                organization-id: '78b5c545-92b8-4428-a8f9-31676f9553ba'
                project-slug: 'sqlitestudio'
                signing-policy-slug: 'test-signing'
                github-artifact-id: '${{ steps.upload-unsigned-artifact-installer.outputs.artifact-id }}'
                github-token: '${{ secrets.SIGNPATH_GITHUB_TOKEN }}'
                wait-for-completion: true
                output-artifact-directory: '${{ env.SIGNED_DIR }}'

            - name: "[Assembling] SHA256 checksums"
              shell: msys2 {0}
              working-directory: ${{ env.SIGNED_DIR }}
              run: |
                sha256sum sqlitestudio-${{ env.PACKAGE_VERSION }}.zip
                sha256sum SQLiteStudio-${{ env.PACKAGE_VERSION }}-installer.exe

            - name: Upload package artifact
              uses: actions/upload-artifact@v4
              with:
                name: sqlitestudio-${{ env.PACKAGE_VERSION }}.zip
                path: ${{ env.SIGNED_DIR }}/sqlitestudio-${{ env.PACKAGE_VERSION }}.zip

            - name: Upload installer artifact
              uses: actions/upload-artifact@v4
              with:
                name: SQLiteStudio-${{ env.PACKAGE_VERSION }}-installer.exe
                path: ${{ env.SIGNED_DIR }}/SQLiteStudio-${{ env.PACKAGE_VERSION }}-installer.exe

            - name: Setup debugging SSH
              if: >
                ${{
                    github.repository_owner == 'pawelsalawa'
                    && (inputs.debug_ssh || (failure() && inputs.debug_on_failure))
                }}
              uses: owenthereal/action-upterm@v1
              with:
                wait-timeout-minutes: 10
